{% extends 'base.jinja' %}

{% block content %}

<ul>
    <li><a href="/bc">Coding Blog</a></li>
    <li><a href="/bp">Personal Blog</a></li>
    <li><a href="/reader">Reader</a></li>
</ul>
{% endblock %}
